{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Проверка сварных швов</title>
    <link rel="stylesheet" href="./../static/styles.css" />
    <script src="./../static/script.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="wrap">
        <div>
          <h2 class="title">Проверка</h2>
          <form
            action="/"
            method="post"
            enctype="multipart/form-data"
            class="form-wrap"
          >
            {% csrf_token %}
            <div class="form-input-wrapper" id="form-input-wrapper">
              <label for="photo" class="form-label">Загрузите фото шва</label>
              <input
                class="form-input"
                type="file"
                id="photo"
                name="photo"
                accept="image/png, image/jpeg"
                onchange="previewImage(event)"
              />
            </div>
            <button class="form-btn" type="submit">
              Отправить на проверку
            </button>
          </form>
        </div>

        <div class="result">
          <h2 class="title">Результат обработки</h2>

          <div class="result-wrap">
            {% if uploaded_file_url %}
            <img
              class="result-img"
              src="{{ uploaded_file_url }}"
              alt="Processed Image"
            />
            {% endif %}

            {% for item in data %}
            <div
              class="result-frame"
              data-width="{{ item.width }}"
              data-height="{{ item.height }}"
              data-x="{{ item.x }}"
              data-y="{{ item.y }}"
              data-class="{{ item.class }}"
            ></div>
            {% endfor %}
          <div class="result-content">
            <div>Обнаружены:</div>
            <ol>
              <li>прилегающие дефекты</li>
              <li>дефекты невыполнения</li>
            </ol>
            <div>Уверенность модели <span>60%</span></div>
          </div> 
        </div>
      </div>
      <!-- <div class="json-data">
        <h2>JSON Data</h2>
        {% for item in data %}
        <div class="json-item">
          <div>{{ item.width }}</div>
          <div>{{ item.height }}</div>
          <div>{{ item.x }}</div>
          <div>{{ item.y }}</div>
          <div>{{ item.class }}</div>
        </div>
        {% endfor %}
      </div> -->
    </div>
  </body>
</html>
